@import "/css/fonts.css";

$font-stack: "Recursive", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 

$link: hsl(0, 0%, 21%);
$link-hover: hsl(204, 71%, 39%);

$read-more: hsl(204, 71%, 39%);
$read-more-hover: hsl(348, 100%, 61%);


body {
  font: 100% $font-stack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

code {
  line-height: 136%;
  padding: 3px 5px;
  border-radius: 5px;
  background: #f8f5ec;
}

.content pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: .85em .85em;
  white-space: pre;
  word-wrap: normal;
  border-radius: 5px;
}

pre, code {
  font-size: 90%;
  overflow: auto;
  font-family: Consolas,Monaco,Menlo,Consolas,monospace;
  margin-bottom: 0;
  color: #ef2020;
}

.content {
  ol, ul {
    margin-left: 1.42em !important;
  }
}

ol > li::marker {
  font-weight: bold;
}

.esa-catalog-title {
  cursor: move;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  line-height: 36px;
  border-bottom: 1px solid #eef2f8;
  font-size: 12px;
  font-weight: 600;
  color: #314659;
}

.esa-catalog-title:before {
  content: '\2632';
  margin-right: 5px;
}

.menu-list  {
  ul {
    margin-left: 1em !important;
  }
  li ul {
    border-left: 1px solid #dbdbdb;
    margin: .15em;
    padding-left: .15em;
  }
}

.sub {
  font-size: 14px;
  vertical-align: sub;
}

.back-to-top {
  width: 1.32rem;
  height: 1.32rem;
  position: fixed;
  z-index: 999;
  bottom: 2.18666667rem;
  right: 0.53333333rem;  
  display: none;

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.icon {
  vertical-align: middle;
  margin-bottom: 2px;
}

.columns .is-multiline .icon {
  margin-bottom: 3px;
}

section {
  flex: 1;
}

img[theme="dark"],
picture[theme="dark"],
video[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

.link {
  color: $link;
  &:hover {
    color: $link-hover;
  }
}
.read-more {
  color: $read-more;
  &:hover {
    color: $read-more-hover;
  }
}

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
  body {
    font: 85% $font-stack;
  }
}
