@import "/css/fonts.css";

$font-stack: "Recursive", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 

$link: hsl(0, 0%, 21%);
$link-hover: hsl(204, 71%, 39%);

$read-more: hsl(204, 71%, 39%);
$read-more-hover: hsl(348, 100%, 61%);


body {
  font: 100% $font-stack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

code {
  border-radius: 5px;
  line-height: 136%;
}

.back-to-top {
  width: 1.32rem;
  height: 1.32rem;
  position: fixed;
  z-index: 999;
  bottom: 2.18666667rem;
  right: 0.53333333rem;  
  display: none;

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.icon {
  vertical-align: middle;
  margin-bottom: 2px;
}

.columns .is-multiline .icon {
  margin-bottom: 3px;
}

section {
  flex: 1;
}

img[theme="dark"],
picture[theme="dark"],
video[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

.link {
  color: $link;
  &:hover {
    color: $link-hover;
  }
}
.read-more {
  color: $read-more;
  &:hover {
    color: $read-more-hover;
  }
}

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
  body {
    font: 85% $font-stack;
  }
}
